/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

header{
    background-color: rgb(13, 25, 63);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

header nav{
    width: 100%;
}

.logo{
    height: 100px;
}

header nav ul{
    display: flex;
    padding: 0;
    flex-direction: column;
    align-items: center;
    /*justify-content: space-around;*/
}

header nav ul li{
    list-style-type: none;
}

header nav ul li a{
    color: white;
    text-decoration: none;
}

header nav ul li a:hover{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

.grilla-contenido-nosotros{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6 auto);
    margin: 1rem 3rem 3rem 3rem;
    gap: 1rem;
}

.grilla-contenido-nosotros div{
    width: 100%;
    text-align: center;
}

.grilla-contenido-nosotros div img{
    border-radius: 50%;
    height: 200px;
}

.grilla-contenido-contacto{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2 auto);
    margin: 1rem 3rem 3rem 3rem;
    gap: 1rem;
}

.contenedor-carousel{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.position-fixed{
    position: fixed;
    width: 100px;
    bottom: 20px;
    right: 20px;
}

.position-fixed img{
    width: 100px;
}

footer{
    background-color: #90E0EF;
    padding: 10px 0;
}

footer div{
    display: flex;
    justify-content: center;
    column-gap: 40px;
}

footer div img{
    width: 30px;
}


/* ESTILOS TABLET */
@media screen and (min-width: 768px) and (max-width: 1023px){
    header{
        background-color: rgb(13, 25, 63);
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }
    
    header nav{
        width: 100%;
    }
    
    .logo{
        height: 100px;
    }
    
    header nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    header nav ul li{
        list-style-type: none;
    }
    
    header nav ul li a{
        color: white;
        text-decoration: none;
    }

    header nav ul li a:hover{
        color: white;
        text-decoration: none;
        font-weight: bolder;
    }

    .grilla-contenido-nosotros{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas: 
        "foto-andrea nombre-andrea nombre-andrea"
        "foto-andrea desc-andrea desc-andrea"
        "nombre-juan nombre-juan foto-juan"
        "desc-juan desc-juan foto-juan"
        "foto-maria nombre-maria nombre-maria"
        "foto-maria desc-maria desc-maria"
        ;
    }
    
    .foto-andrea{
        grid-area: foto-andrea;
    }
    .foto-juan{
        grid-area: foto-juan;
    }
    .foto-maria{
        grid-area: foto-maria;
    }
    
    .nombre-andrea{
        grid-area: nombre-andrea;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nombre-juan{
        grid-area: nombre-juan;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nombre-maria{
        grid-area: nombre-maria;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .desc-andrea{
        grid-area: desc-andrea;
    }
    .desc-juan{
        grid-area: desc-juan;
    }
    .desc-maria{
        grid-area: desc-maria;
    }
   
    .grilla-contenido-contacto{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        margin: 1rem 3rem 3rem 3rem;
        gap: 1rem;
        grid-template-areas: "formulario-contacto mapa";
    }

    .formulario-contacto{
        grid-area: formulario-contacto;
    }
    .mapa{
        grid-area: mapa;
    }

}

/*ESTILOS DESKTOP*/
@media screen and (min-width: 1024px){
    header{
        background-color: rgb(13, 25, 63);
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }
    
    header nav{
        width: 100%;
    }
    
    .logo{
        height: 100px;
    }
    
    header nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    header nav ul li{
        list-style-type: none;
    }
    
    header nav ul li a{
        color: white;
        text-decoration: none;
    }

    header nav ul li a:hover{
        color: white;
        text-decoration: none;
        font-weight: bolder;
    }

    .grilla-contenido-nosotros{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas: 
        "foto-andrea desc-andrea desc-andrea"
        "nombre-andrea desc-andrea desc-andrea"
        "foto-juan desc-juan desc-juan"
        "nombre-juan desc-juan desc-juan"
        "foto-maria desc-maria desc-maria"
        "nombre-maria desc-maria desc-maria"
        ;
    }
    
    .foto-andrea{
        grid-area: foto-andrea;
    }
    .foto-juan{
        grid-area: foto-juan;
    }
    .foto-maria{
        grid-area: foto-maria;
    }
    
    .nombre-andrea{
        grid-area: nombre-andrea;
    }
    .nombre-juan{
        grid-area: nombre-juan;
    }
    .nombre-maria{
        grid-area: nombre-maria;
    }
    
    .desc-andrea{
        grid-area: desc-andrea;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .desc-juan{
        grid-area: desc-juan;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .desc-maria{
        grid-area: desc-maria;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .grilla-contenido-contacto{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        margin: 1rem 3rem 3rem 3rem;
        gap: 1rem;
        grid-template-areas: "formulario-contacto mapa";
    }

    .formulario-contacto{
        grid-area: formulario-contacto;
    }
    .mapa{
        grid-area: mapa;
    }
}